@charset "utf-8";

@font-face {
    font-family: Nunito;
    src: url("../fonts/nunito/Nunito-Regular.ttf");
}

@font-face {
    font-family: Nunito-Bold;
    src: url("../fonts/nunito/Nunito-Bold.ttf");
}

:root {
    --green: #99B89B;
    --white: white;
    --light_grey: #C7C7C7;
    --cream_yellow: #FECEA3;
    --black: black;
    --midnight: #2A363B;
    --cream_red: #FF847C;
    --red: #E84A5F;
}


/* General */
*{
    padding: 0;
	margin: 0;
	font-family: Nunito;
	scroll-behavior: smooth;
    color: white;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Nunito;
    --c-0: hsla(55.58823529411776, 0%, 100%, 0.86);
    --x-0: 98%;
    --y-0: 98%;
    --x-1: 98%;
    --c-1: hsla(284.55882352941177, 85%, 73%, 0.42);
    --y-1: 91%;
    --y-2: 87%;
    --c-2: hsla(181.00000000000003, 85%, 73%, 0.42);
    --x-2: 16%;
    --y-3: 79%;
    --x-3: 52%;
    --c-3: hsla(252.7941176470588, 85%, 73%, 0.42);
    background-color: hsla(198.00000000000063, 14%, 16%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3));
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: overlay, normal, normal, normal;

    overflow-x: hidden;
}

/* Principal Container */

#ppalContainer {
    margin: 0px;
    padding: 0px;
    width: 100%;
    
}

h2 {
    font-size: 35px;
    margin: 1em;
}

/* Header and Menu*/
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
}

#menu{
    margin-top: -4px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    padding: 10px;
    font-size: 20px;
}

#menu li a {
    text-decoration: none;
}

#menu a:hover {
    color: var(--cream_red)
}

/* Main */
#start{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 2%;
    margin-left: 1em;
    margin-right: 1em;
}

#start div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}

#name {
    font-size: 2em;
}
/* Profile Image*/

#start img{
    width: 20%;
    border: 2px solid black;
    border-radius: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
}

#backend img{
    width: 55px;
    height: 50px;
}

#frontend img{
    width: 55px;
    height: 50px;
}


/* About Me */

#aboutMe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#aboutMe h2 {
    margin: 1em;
}

#aboutMe p {
    text-align: center;
    width: 50%;
    font-size: 20px;
}

/* Tecnologies*/

#tecnologies { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em;
}

/* Images List Backend and Frontend*/
.divUList {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.unorderedList {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    list-style-type: none;
}

.unorderedList li {
    display: inline;
    margin-right: 10px;
}


.unorderedList img {
    width: 105px;
    height: 100px;
    border-radius: 10%;
}

.unorderedList img:hover {
    transform: scale(1.1);
}

/* Projects */

#projects {
    width: 90%;
    max-width: 120em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em;
}

.slider{
    width: 80%;
    max-width: 600px;
    height: 100%;
    max-height: 300px;
    overflow: hidden;
    position: relative;
    margin: 1em;

}

.slides { 
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 400%; /* 100% por cada slide */
    
}

.slide {
    width: 100%; 
    height: 100%;
    padding: 1em;
    margin: 1em;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: #333;
    color: #fff;
    font-size: 24px;
    border-radius: 1em;
    
}

.slide img {
    height: 15%;
    width: 15%;
}

.slide .description {
    font-size: 16px;
    text-align: center;
    margin: 1em;
}

.slide a{
    background-color: var(--cream_red);
    border-radius: 1em;
    text-decoration: none;
    font-size: 1em;

    padding: 5px 5px;
}

.slide a:hover {
    background-color: var(--green);
}

/* Buttons */
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 1em;
    background-color: var(--cream_red);
}

button:hover {
    transform: scale(1.1);
}

/* Formation */

#formation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em;
}

#formation p {
    font-size: 20px;
    margin: .5em;
    
}

#formation a {
    text-decoration: none;
    background-color: var(--cream_red);
    border-radius: 1em;
    border: 1px solid black;
    margin: 10px;
    padding: 10px 20px;
}

#cv {
    margin-top: 2em;
}

#formation a:hover {
    transform: scale(1.1);
}

/* Contact */

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Footer */

footer {
    background-color: var(--midnight);
    padding: 20px 0;
    text-align: center;
}
#contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#contact p {
    margin: 0;
}
#contact a img {
    width: 30px;
    height: 30px;
}

#contact a:hover {
    transform: scale(1.1);
}


/* Responsive */ 
@media screen and (max-width: 480px) {
    *{
        padding: 0;
        margin-left: 0;
        font-family: Nunito;
        scroll-behavior: smooth;
        color: white;
    }

    main {
        width: 100%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #start {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #start img {
        width: 75%;
        margin-left: 38%;
    }

    #name {
        font-size: 1em;
        margin-right: -15%;
    }

    #aboutMe {
        margin-right: -20%;
    }

    #tecnologies {
        margin-right: -5%;
    }

    .unorderedList {
        margin-right: -15%;
    }

    #uListFrontend img {
        margin-right: 5%;
    }

    #projects {
        margin-right: -9%;
        height: 140%;
        text-align: center;
    }

    #formation {
        margin-right: -20%;
    }

    footer {
        width: 125%;
        display: flex;
        justify-content: center;
    }
}


/* gradient properties */
@keyframes hero-gradient-animation {
    0% {
        --c-0: hsla(0, 6%, 16%, 0.86);
        --s-start-0: 2%;
        --s-end-0: 78.72573401919361%;
        --x-0: 98%;
        --y-0: 98%;
    }

    100% {
        --c-0: hsla(284.55882352941165, 0%, 100%, 0.86);
        --s-start-0: 2%;
        --s-end-0: 78.72573401919361%;
        --x-0: 2%;
        --y-0: 98%;
    }
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(0, 64%, 89%, 0.86)
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 2%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 78.72573401919361%
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 98%
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 98%
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 98%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(284.55882352941177, 85%, 73%, 0.42)
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 2%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 78.72573401919361%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 91%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 87%
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 2%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 61.288600779667334%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(181.00000000000003, 85%, 73%, 0.42)
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 16%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 79%
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 52%
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 2%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 61.288600779667334%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(252.7941176470588, 85%, 73%, 0.42)
}
